<div class="container mx-auto p-6">
  <header class="text-center mb-12">
    <h1 class="text-4xl font-bold text-orange-800">Fast Food</h1>
    <p class="text-lg mt-2 text-orange-700">Comida rápida, servicio excelente</p>
  </header>

  <!-- Sección de Misión -->
  <section class="mb-12">
    <div class="bg-orange-50 p-6 rounded-lg shadow-lg mt-6 mb-5 mx-auto max-w-4xl">
      <h2 class="text-2xl font-semibold mb-4 text-orange-700">Nuestra Misión</h2>
      <div class="bg-orange-100 p-6 rounded-lg">
        <p class="text-gray-700 text-lg mb-2">
          En Fast Food, nuestra misión es proporcionar comida rápida y deliciosa de la más alta calidad, con un servicio al cliente excepcional. Nos esforzamos por ser la opción preferida para los amantes de la comida rápida, ofreciendo productos frescos y sabrosos en un ambiente limpio y acogedor.
        </p>
      </div>
    </div>
  </section>

  <!-- Sección de Visión -->
  <section class="mb-12">
    <div class="bg-orange-50 p-6 rounded-lg shadow-lg mt-6 mb-5 mx-auto max-w-4xl">
      <h2 class="text-2xl font-semibold mb-4 text-orange-700">Nuestra Visión</h2>
      <div class="bg-orange-100 p-6 rounded-lg">
        <p class="text-gray-700 text-lg mb-2">
          Nuestra visión es convertirnos en una cadena de restaurantes de comida rápida reconocida a nivel mundial, conocida por su innovación, sostenibilidad y compromiso con la calidad. Queremos ser líderes en la industria, siempre buscando mejorar y adaptarnos a las necesidades cambiantes de nuestros clientes.
        </p>
      </div>
    </div>
  </section>