@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  :host {
    animation: fadeInOut 0.3s ease-out;
  }
  
  @keyframes fadeInOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .card {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #fcb69f; /* Borde naranja claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 2rem;
    border-radius: 0.5rem; /* Bordes redondeados */
  }