<div class="container mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-6">Menu Items</h1>

  <!-- Formulario de búsqueda y filtros -->
  <div class="mb-6">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name"
      class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
    <button (click)="search()" class="bg-orange-500 text-white px-4 py-2 mt-2 rounded hover:bg-orange-600">
      Search
    </button>
    <div class="flex space-x-2 mt-2">
      <input type="number" [(ngModel)]="priceRange.min" placeholder="Min Price"
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
      <input type="number" [(ngModel)]="priceRange.max" placeholder="Max Price"
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
      <button (click)="applyFilters()" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600">
        Apply Filters
      </button>
    </div>
  </div>

  <div *ngIf="filteredMenuItems.length === 0" class="text-center">
    No menu items available.
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div *ngFor="let item of filteredMenuItems" class="bg-white p-4 rounded-lg shadow mb-4">
      <h2 class="text-xl font-semibold cursor-pointer" (click)="onSelectItem(item)">{{ item.name }}</h2>
      <img [src]="item.image_url" alt="{{ item.name }}" class="w-full h-auto rounded-lg mt-2 mb-2">
      <p class="text-gray-700">{{ item.description }}</p>
      <p class="text-gray-900 font-bold">{{ item.price | currency }}</p>
      <button *ngIf="userRole === 'admin'" class="bg-orange-500 text-white px-4 py-2 mt-2 rounded hover:bg-orange-600"
        (click)="onSelectItem(item)">
        Edit
      </button>
    </div>
  </div>

  <app-modal-menu *ngIf="selectedItem" [selectedItem]="selectedItem" (updateItem)="updateMenuItem($event)"
    (closeModal)="closeModal()">
  </app-modal-menu>
</div>