<div class="layout bg-gray-100 min-h-screen flex flex-col">
    <header class="bg-orange-500 text-white p-4 shadow-md">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <h1 class="text-7x2 md:text-7xl font-bold">Fast-Food</h1>
            <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-10">
                <div class="flex items-center">
                    <mat-icon>access_time</mat-icon>
                    <p class="text-sm md:text-md ml-2">Horario: 10:00 AM - 10:00 PM</p>
                </div>
                <div class="flex items-center">
                    <mat-icon>phone</mat-icon>
                    <p class="text-sm md:text-md ml-2">Teléfono: (123) 456-7890</p>
                </div>
            </div>
            <div class="text-center md:text-right px-4 md:px-8">
                <div *ngIf="user" class="text-lg font-bold">
                    <p class="text-md">Bienvenido, {{ user.username }}!</p>
                    <button (click)="logout()"
                        class="border border-white text-white flex items-center px-3 py-1 rounded text-sm hover:bg-white hover:text-orange-500 transition">
                        <mat-icon class="mr-1">logout</mat-icon>
                        Cerrar sesión
                    </button>
                </div>
                <div *ngIf="!user">
                    <p class="text-md">Por favor inicia sesión.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Menú de navegación para pantallas normales y grandes -->
    <nav class="bg-white hidden md:block">
        <div class="flex justify-end p-4 mx-4">
            <ul class="flex space-x-10 min-w-max whitespace-nowrap">
                <li><a routerLink="/dashboard"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Inicio</a></li>
                <li><a routerLink="/menu" class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Menú</a>
                </li>
                <li *ngIf="isUser()"><a routerLink="/about" class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Sobre
                        Nosotros</a></li>
                <li *ngIf="isUser()"><a routerLink="/contact"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Contacto</a></li>
                <li *ngIf="isUser()"><a routerLink="/bookings"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Reserva</a></li>
                <li *ngIf="isUser()"><a routerLink="/my-bookings"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Mis Reservas</a></li>
                <li *ngIf="isAdmin()"><a routerLink="/add-menu"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Añadir Menú</a></li>
                <li *ngIf="isAdmin()"><a routerLink="/user-bookings"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Reservas</a></li>
            </ul>
        </div>
    </nav>

    <!-- Menú desplegable para pantallas pequeñas -->
    <nav class="bg-white md:hidden">
        <div class="flex justify-between items-center p-4 mx-4">
            <button (click)="isMenuOpen = !isMenuOpen" class="text-lg">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div [class.hidden]="!isMenuOpen" class="flex flex-col p-4 space-y-2">
            <ul class="flex flex-col space-y-2">
                <li><a routerLink="/dashboard"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Inicio</a></li>
                <li><a routerLink="/menu" class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Menú</a>
                </li>
                <li *ngIf="isUser()"><a routerLink="/about" class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Sobre
                        Nosotros</a></li>
                <li *ngIf="isUser()"><a routerLink="/contact"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Contacto</a></li>
                <li><a routerLink="/bookings"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Reserva</a></li>
                <li *ngIf="isUser()"><a routerLink="/my-bookings"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">mis reservas</a></li>
                <li *ngIf="isAdmin()"><a routerLink="/add-menu"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Añadir Menú</a></li> 
                <li *ngIf="isAdmin()"><a routerLink="/add-menu"
                        class="text-gray-700 hover:text-orange-500 text-lg font-semibold">Reservas</a></li>  
            </ul>
        </div>
    </nav>

    <main class="flex-grow p-4">
        <router-outlet></router-outlet>
    </main>

    <footer class="bg-gray-200 text-center p-4">
        <p class="text-gray-600 text-sm md:text-base">Síguenos en redes sociales: [Enlaces]</p>
        <p><a routerLink="/politica-privacidad"
                class="text-gray-700 hover:text-orange-500 text-sm md:text-base">Política de Privacidad</a></p>
        <p><a routerLink="/terminos" class="text-gray-700 hover:text-orange-500 text-sm md:text-base">Términos y
                Condiciones</a></p>
    </footer>
</div>