header {
    border-bottom: 2px solid #fbbf24; /* Línea inferior */
}

.text-2xl {
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Agrega esto en tu archivo CSS correspondiente */
.menu-dropdown {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
