<main class="flex-grow p-4">
  <section class="text-center mb-8">
      <h2 class="text-3xl font-bold">¡Bienvenido a Fast-Food!</h2>
      <p class="mt-2 text-gray-600">Donde la calidad se encuentra con el sabor.</p>
  </section>

  <section class="mb-8">
    <h3 class="text-2xl font-semibold">Platos Destacados</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div *ngFor="let item of featuredMenuItems" class="bg-white p-4 rounded shadow">
        <img [src]="item.image_url" alt="Plato Destacado" class="w-full h-32 object-cover rounded">
        <h4 class="mt-2 text-lg font-bold">{{ item.name }}</h4>
        <p class="text-gray-600">{{ item.description }}</p>
      </div>
    </div>
  </section>

  <section class="mb-8">
    <div class="bg-orange-50 p-6 rounded-lg shadow-lg mt-6 mb-5 mx-auto max-w-4xl">
      <h4 class="text-lg font-semibold mb-2 text-orange-700">Deja tu comentario</h4>
      <textarea
        [(ngModel)]="newTestimonial"
        placeholder="Escribe tu comentario aquí..."
        class="w-full p-3 border border-orange-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500"
        rows="4"
      ></textarea>
      <button
        (click)="submitTestimonial()"
        class="mt-4 px-4 py-2 bg-orange-600 text-white rounded-lg hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500"
      >
        Enviar Comentario
      </button>
    </div>
    
        
    <!-- Contenedor de Testimonios -->
    <div *ngFor="let testimonial of testimonials" class="bg-orange-50 p-6 rounded-lg shadow-lg mb-6 mx-auto max-w-4xl">
      <blockquote>
        <p class="text-gray-700 text-lg mb-2">{{ testimonial.text }}</p>
        <cite class="block text-gray-600 text-sm">- {{ testimonial.author }}</cite>
      </blockquote>
    </div>
  </section>
  
</main>
